# REQUIRED PYTHON BASICS TO ADVANCE FOR DS

## Basic operations

In [ ]:
# for private is '__variable_name' 
# for public is dfault
# for protected is '_variable_name'

In [3]:
3+5

8

In [2]:
5*3

15

In [4]:
8/2

4.0

In [7]:
10*"str"

'strstrstrstrstrstrstrstrstrstr'

In [8]:
8//2

4

In [9]:
8%2

0

In [11]:
2**5

32

In [12]:
type(1)

int

In [13]:
type("str")

str

In [14]:
type(False)

bool

## variable assignment

In [15]:
a=10
print(a)

10

In [16]:
int a=10
print(a)

SyntaxError: invalid syntax (3819734289.py, line 1)

In [17]:
b='str'
print(b)

str

In [19]:
a=10
b=5
print(a/b)
print(a+b)
print(a-b)
print(a*b)
print(a%b)
type(a)

2.0
15
5
50
0

int

## various ways of printing

In [20]:
print('Hello')

Hello

In [25]:
#using placeholder

print('My name is {}, i love {}'.format('brgadeesh','Data Science'))

My name is brgadeesh, i love Data Science

In [26]:
print("My name is {first}, i love {second}".format(first='Bragadees',second='Data Science'))

My name is Bragadees, i love Data Science

In [27]:
len('braga')

5

# python data structures and boolean

## boolean

In [28]:
bool()

False

In [29]:
bool(True)

True

In [30]:
Name='bragadeesh'
print(Name)

bragadeesh

In [33]:
Name.count('a')

2

In [37]:
#Boolean functions
##use tab after Name. to see all inbuild functions

print(Name.isalnum())
print(Name.isalpha())
print(Name.isdigit())
print(Name.islower())
print(Name.isupper())
print(Name.isdigit())
print(Name.endswith('s'))
print(Name.startswith('b'))
print(Name.strip())

True
True
False
True
False
False
False
True
bragadeesh

## boolean and logical operator

In [38]:
True and True

True

In [39]:
True and False

False

In [40]:
True or True

True

In [41]:
True or False

True

In [42]:
False or False

False

In [44]:
Name.isalpha() and Name.isnumeric()

False

## list
a list is a data structure in python that is a mutable or changeable , ordered sequence of element. Each elements or value inside the list is called items. list are defined by having values between []

In [45]:
type([])

list

In [46]:
list1=[]
type(list1)

list

In [47]:
list2=list()
type(list2)

list

In [49]:
list3=[2,4,5,'brag','deesh']
print(type(list3))
print(list3)

<class 'list'>
[2, 4, 5, 'brag', 'deesh']

### append

In [50]:
#append is used to add elements in the list

list1.append('bragadees')
print(list1)

['bragadees']

In [51]:
list1.append(5)
print(list1)

['bragadees', 5]

In [53]:
#indexing in list

print(list3)
list3[3]

[2, 4, 5, 'brag', 'deesh']

'brag'

In [58]:
list3[:-1]

[2, 4, 5, 'brag']

In [59]:
list3[::]

[2, 4, 5, 'brag', 'deesh']

In [60]:
list3[1::]

[4, 5, 'brag', 'deesh']

In [62]:
#we can add list inside a list

list1.append(list3)
print(list1)

['bragadees', 5, [2, 4, 5, 'brag', 'deesh'], [2, 4, 5, 'brag', 'deesh']]

### insert

In [63]:
#insert in a specific order

print(list3)

[2, 4, 5, 'brag', 'deesh']

In [64]:
list3.insert(-1,'Amutha')

In [65]:
print(list3)

[2, 4, 5, 'brag', 'Amutha', 'deesh']

In [67]:
list3.insert(1,'Sreekumar')

In [68]:
print(list3)

[2, 'Sreekumar', 4, 5, 'brag', 'Amutha', 'deesh']

### extend

In [69]:
print(list3)

[2, 'Sreekumar', 4, 5, 'brag', 'Amutha', 'deesh']

In [70]:
list3.extend([9,0])

In [71]:
print(list3)

[2, 'Sreekumar', 4, 5, 'brag', 'Amutha', 'deesh', 9, 0]

### Various operations that we can perform in list

In [72]:
list4=[1,2,3,4,5]

In [73]:
sum(list4)

15

In [75]:
list4.count(3)

1

In [76]:
list4.extend([4,4,7,8])

In [77]:
print(list4)

[1, 2, 3, 4, 5, 4, 4, 7, 8]

In [78]:
list4.count(4)

3

In [79]:
list4.index(4)

3

In [81]:
list4.pop(4)
print(list4)

[1, 2, 3, 4, 4, 4, 7, 8]

In [83]:
list4.remove(8)
print(list4)

[1, 2, 3, 4, 4, 4, 7]

In [84]:
max(list4)

7

In [85]:
min(list4)

1

In [86]:
list4*2

[1, 2, 3, 4, 4, 4, 7, 1, 2, 3, 4, 4, 4, 7]

## sets
 a set is an unordered collection data type that is iterable, mutable and has no duplicate elements. pythons set class represents the mathematical notion of a set. this is based on a data structure known as a hash table

In [87]:
# degining a empy set

set1=set()
type(set1)

set

In [88]:
set2={1,2,3,4,5}
print(set2)

{1, 2, 3, 4, 5}

In [89]:
set3={1,2,3,4,5,2}
print(set3)

{1, 2, 3, 4, 5}

In [90]:
set4={1,2,3,'brag','deesh'}
print(set4)

{1, 2, 3, 'deesh', 'brag'}

In [91]:
# inbuilt function

In [92]:
set4.add('Amutha')
print(set4)

{1, 2, 3, 'Amutha', 'deesh', 'brag'}

In [94]:
print(set2)
print(set4)

{1, 2, 3, 4, 5}
{1, 2, 3, 'Amutha', 'deesh', 'brag'}

In [95]:
#difference

set2.difference(set4)

{4, 5}

In [96]:
set4.difference(set2)

{'Amutha', 'brag', 'deesh'}

In [100]:
# difference update

print(set3)
set3.difference_update(set4)
print(set3)

{1, 2, 3, 4, 5}
{4, 5}

In [101]:
#intersection it shows the common items

set2.intersection(set3)

{4, 5}

## dictionaries
a dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets, and they have keys and values.

In [102]:
dic={}
type(dic)

dict

In [104]:
set6={1,2,3,4,5}
dict1={1:'braga',2:'deesh'}
print(type(set6))
print(type(dict1))

<class 'set'>
<class 'dict'>

In [105]:
dict1[2]

'deesh'

In [107]:
for x in dict1:
    print(x)

1
2

In [108]:
# we can loop through th dictonaries values

for x in dict1.values():
    print(x)

braga
deesh

In [109]:
# we can loop through the items

for x in dict1.items():
    print(x)

(1, 'braga')
(2, 'deesh')

In [117]:
#we can loop separtely the keys and values

for x,y in dict1.items():
    #print(x,y)
    #print(x)
    print(y)

braga
deesh

In [120]:
#adding items in dictionaries

dict1[3]='amutha'

In [121]:
print(dict1)

{1: 'braga', 2: 'deesh', 3: 'amutha'}

In [122]:
#nested dictionary

carmodel1={'swift':1900}
carmodel2={'benz':1910}
carmodel3={'bmw':2000}

allmodel={'model1':carmodel1,'model2':carmodel2,'model3':carmodel3}

print(allmodel)

{'model1': {'swift': 1900}, 'model2': {'benz': 1910}, 'model3': {'bmw': 2000}}

In [129]:
#accessing the item in nested dictionary

allmodel['model1']['swift']

1900

## tuple
tuple is not mutable

In [130]:
tup=()
print(type(tup))

<class 'tuple'>

In [131]:
tup1=(1,2,3,4)
print(tup1)

(1, 2, 3, 4)

In [137]:
tup1.count(4)

1

In [138]:
tup1.index(1)

0

 # Functions in python
 1. Functions makes work easy like reuse of code

In [140]:
def odd_even(num):
    if num%2==0:
        print('The number {} is even'.format(num))
    else:
        print('The number {} is odd'.format(num))

In [141]:
odd_even(2)

The number 2 is even

In [142]:
#return
def hi():
    return 'Bragadeesh'
hi()

'Bragadeesh'

In [143]:
def add_number(x,y):
    return x+y

add_number(5,10)

15

In [145]:
#Here first argument is positional argument
#here second argument is keyword argument

def name_age(name,age=29):
    print('My name is {} and my age is {}'.format(name,age))
    
name_age('bragadeesh')
name_age('bragadeesh',25)

My name is bragadeesh and my age is 29
My name is bragadeesh and my age is 25

In [149]:
# *args is a positional argument
# **kwargs is a keyword argument

def identity(*args,**kwargs):
    print(args)
    print(kwargs)
    
identity('bragadeesh','male',25,1997)

('bragadeesh', 'male', 25, 1997)
{}

In [150]:
identity(name='bragadeesh',gender='male',age=25,year=1997)

()
{'name': 'bragadeesh', 'gender': 'male', 'age': 25, 'year': 1997}

In [151]:
identity('bragadeesh','male',age=25,year=1997)

('bragadeesh', 'male')
{'age': 25, 'year': 1997}

In [152]:
# we can also give arguments in list and dictonaries

lis=['Bragadeesh','Male']
dic={'age':25,'year':1997}
identity(lis,dic)

(['Bragadeesh', 'Male'], {'age': 25, 'year': 1997})
{}

In [153]:
#the above is comming wrong so we give give like this

identity(*lis,**dic)

('Bragadeesh', 'Male')
{'age': 25, 'year': 1997}

In [165]:
#function return two values

def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i

    return even_sum,odd_sum

lis=[1,2,3,4,5,6,7,8]
evenoddsum(lis)

(20, 16)

## Lambda function
anonymous function.

a function with no name.

function should not contain two codes

In [166]:
def add(a,b):
    return a+b

add(5,10)

15

In [167]:
#insted above we can use lamda
#here left of : is arguments and reight of : is function code

addition=lambda a,b:a+b
addition(12,3)

15

In [168]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [171]:
#for above we can write

evennumber=lambda num:num%2==0

evennumber(23)

False

In [172]:
def addition(a,b,c):
    return a+b+c

In [173]:
#for above we can write

addition=lambda a,b,c:a+b+c

addition(5,3,9)

17

## Map function in python

In [179]:
def even_or_odd(num):
    if num%2==0:
        return True
    else:
        return False

In [175]:
even_or_odd(9)

False

In [176]:
lst=[2,4,6,8,4,35,9,11,5,8,3]

#can i pass this list in above function without using loop
#for this map is used

map(even_or_odd,lst)

In [180]:
list(map(even_or_odd,lst))

[True, True, True, True, True, False, False, False, False, True, False]

## Filter function in python

In [181]:
#instead of map can we use any other function in above problem
#yes filter is used
#filter function has many useful ways

In [201]:
def even(num):
    if num%2==0:
        return 'True'
    else:
        return 'False'

In [202]:
lst=[1,2,3,4,5,6,7,8,9]

In [203]:
list(filter(None,lst))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [204]:
list(filter(even,lst))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [205]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8]

In [206]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False]

In [ ]:
#above is the difference between map and filter
#filter returns the number where map return whatt is given in return

## list comprehension
List comprehensions provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clause. The expressions can be anything, meaning you can put in all kinds of objects in lists.

In [211]:
list1=[]
def square(lst):
    for i in lst:
        list1.append(i*i)
    return list1    

lst1=[1,2,3,4,5,6,7,8,9]
square(lst1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [212]:
#above problem is a simple list appending
#but it has too much of lines
# for this we can use list comprehension

In [213]:
lst2=[9,8,7,6,5,4,3,2,1]
[i*i for i in lst2]

[81, 64, 49, 36, 25, 16, 9, 4, 1]

In [214]:
#if i want only the square of even numbers

[i*i for i in lst2 if i%2==0]

[64, 36, 16, 4]

## String formating in python

In [215]:
#we have finished format functions

## Python list Iterables vs Iterators

In [216]:
# eg of iterable

lst=[1,2,3,4,5]
for i in lst:
    print(i)

#here whole list is saved in memory

1
2
3
4
5

In [220]:
#in terators the list is not saved in memory unit u give next()
#when we use next() it return first value in list and stores the first value in memory
#if i hit next() again it return second value and stores the second value in meory

list1=iter(lst)
print(list1)

<list_iterator object at 0x0000019660F69F90>

In [222]:
next(list1)

1

In [223]:
next(list1)

2

## oops Tutorial in Python

### class

In [225]:
#creating a class

class car:
    pass

In [227]:
#creating a objects/instance 

car1=car()

In [231]:
#with this object we can have any number of attributes

car1.widows=4
car1.door=4
print(car1.door)

4

In [230]:
car2=car()
car2.enginetype='good'

In [232]:
#the above example is a bad example for creating a class
#instead

In [3]:
class bike:
    def __init__(self,color,model,Abs):
        self.color=color
        self.model=model
        self.Abs=Abs
    def specification(self):
        return 'color: {}, model: {}, Abs: {}'.format(self.color,self.model,self.Abs)
        
pulsar=bike('Black','ns200','yes')

In [4]:
print(bike)

<class '__main__.bike'>

In [5]:
pulsar.specification()

'color: Black, model: ns200, Abs: yes'

## Exception handling

In [24]:
try:
    #code block where error can occur
    a=b
except NameError as ex1:
    #if i got an error then this except block will execute
    print('This is an NameError')
except Exception as ex:
    print("Iam getting an error")
    print(ex)

This is an NameError

In [38]:
###try-else #just example dont see the code,
try:
    username=input('Enter the username: ')
    if username=='admin':
        print('Hey {}, you have logged'.format(username))
    else:
        print('You have entered wrong user name')
except:
    print('error has occured in backend')
else:
    print('What are you going to do')
    
#if except gets executed the else block will not execute

Enter the username: 11
You have entered wrong user name
What are you going to do

In [51]:
###try-else-finally
try:
    username=input('Enter the username: ')
    if username=='admin':
        print('Hey {}, you have logged'.format(username))
    else:
        print('You have entered wrong user name')
except Exception as e:
    print(e)
else:
    print('What are you going to do')
finally:
    print('execution has done')
    
#if except gets executed the else block will not execute
#finally block will get execute whaterver happans

Enter the username: admin
Hey admin, you have logged
What are you going to do
execution has done

## Custom Exception
how can we create custom exception

In [55]:
class Error(Exception):# this is a inheritance class
    pass

class userException(Error):
    pass

In [56]:
username=str(input('Enter your username: '))
try:
    if username=='admin':
        print('Hey {}, you have logged in'.format(username))
    else:
        raise userException
except userException:
    print('You have entered wrong user name')

Enter your username: q
You have entered wrong user name

In [58]:
class userException(Exception):
    pass

In [59]:
username=str(input('Enter your username: '))
try:
    if username=='admin':
        print('Hey {}, you have logged in'.format(username))
    else:
        raise userException
except userException:
    print('You have entered wrong user name')

Enter your username: q
You have entered wrong user name

## Python oops- Inheritance

In [73]:
#all the class variable are public
class bike:
    def __init__(self,color,model,Abs):
        self.color=color
        self.model=model
        self.Abs=Abs
    def specification(self):
        return 'color: {}, model: {}, Abs: {}'.format(self.color,self.model,self.Abs)
        
pulsar=bike('Black','ns200','yes')

In [74]:
pulsar.model

'ns200'

In [75]:
dir(pulsar)

['Abs',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'model',
 'specification']

In [76]:
#creating a child class from parrent class

class car(bike):
    def __init__(self,color,model,Abs,bluetooth,ac):
        super().__init__(color,model,Abs)   #this is calling parent initializing constructor #i.e we have used parent parameters
        self.bluetooth=bluetooth
        self.ac=ac
    def driving(self):
        print('color: {}, model: {}, Abs: {}, bluetooth: {}, ac: {}'.format(self.color,self.model,self.Abs,self.bluetooth,self.ac))

In [77]:
audi=car("Black", '2000series', 'yes', 'yes', 'yes')

In [78]:
audi.driving()

color: Black, model: 2000series, Abs: yes, bluetooth: yes, ac: yes

In [80]:
dir(audi)

['Abs',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ac',
 'bluetooth',
 'color',
 'driving',
 'model',
 'specification']

In [87]:
#from child object we can access parent class functions

audi.specification()

'color: Black, model: 2000series, Abs: yes'

In [89]:
#from parent object we cannot access childs class functions

pulsar.driving()

AttributeError: 'bike' object has no attribute 'driving'

## Python oops- Magic Methods in classes

In [92]:
#all the class variable are public
class bike:
    def __init__(self,color,model,Abs):
        self.color=color
        self.model=model
        self.Abs=Abs
    def specification(self):
        return 'color: {}, model: {}, Abs: {}'.format(self.color,self.model,self.Abs)

In [95]:
discover=bike('Black','100T','yes')

In [96]:
discover.specification()

'color: Black, model: 100T, Abs: yes'

In [97]:
discover

In [98]:
dir(discover)

['Abs',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'model',
 'specification']

In [ ]:
### we can use all the meathods above like

In [113]:
#all the class variable are public
class bike:
    def __init__(self,color,model,Abs):
        self.color=color
        self.model=model
        self.Abs=Abs
    def __str__(self):
        return "the object has been over ridden"
    def specification(self):
        return 'color: {}, model: {}, Abs: {}'.format(self.color,self.model,self.Abs)

In [114]:
yamaha=bike('Black','R15','yes')

In [115]:
print(yamaha)

the object has been over ridden

In [116]:
yamaha.__sizeof__()

32

In [117]:
yamaha.__str__()

'the object has been over ridden'

## Python Assert
python provides the assert statement to check if a given logical expression is true or false. Program execution proceeds only if the expression is true and raises the AssertionError when it is false. The following code shows the usage of the assert statement

In [118]:
10==10

True

In [119]:
num=10
assert num>1

In [120]:
assert num<1

AssertionError:

In [124]:
try:
    password=int(input('Enter the password'))
    assert password==12345
    print('The password is crt')
except AssertionError as e:
    print('you have entered the password wrong')
print('Execution completed')

Enter the password12345
The password is crt
Execution completed

In [125]:
try:
    password=int(input('Enter the password'))
    assert password==12345
    print('The password is crt')
except AssertionError as e:
    print('you have entered the password wrong')
print('Execution completed')

Enter the password123
you have entered the password wrong
Execution completed